body {
  min-height: 500px;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

#body {
  padding: 20px;
}

#time-change-ip {
  width: 60px !important;
  height: 40px !important;
  border: 1px solid #e7e8ea;
  border-radius: 4px;
  color: #3a4355;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 10px;
}

#ip-info {
  margin-bottom: 12px;
}

.value {
  color: #3a4355;
  font-weight: 500;
  font-size: 16px;
}

.w-100 {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-left: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e8ea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #003ae6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #003ae6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gtx-header {
  width: 420px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-self: start;
  border-bottom: 1px solid #efefef;
}

.status {
  font-weight: 500;
  font-size: 16px;
  color: #4b4b4c;
  margin-right: 8px;
}

#proxy-status {
  font-weight: 600;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 0.5px solid transparent;
}

.switch-label {
  color: #3a4355;
  font-size: 16px;
  font-weight: 500;
}

.container-change-ip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-s {
  color: #989da6;
  font-size: 16px;
  font-weight: 500;
}

.mb-32 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.d-flex {
  display: flex;
  align-items: center;
}

.form-check-label {
  color: #3a4355;
  font-weight: 600;
  font-size: 14px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 0;
  cursor: pointer;
}

#location_area {
  display: flex;
  align-items: start;
  flex-direction: column;
}

#location_select {
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e7e8ea;
  padding: 10px 16px;
  color: #686f7d;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  appearance: none;
}

#api_key {
  box-sizing: border-box;

  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #e7e8ea;
  color: #686f7d;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

#location_select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  transform: translateY(-50%);
}

.btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-success {
  background-color: #12b38f;
  color: #ffffff;
}

.btn-danger {
  color: #ff4c4c;
  background-color: transparent;
}

.button-action {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.container-change-ip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-change-ip.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.text-warning {
  color: #ffa424;
  background: #fff3e2;
  border-color: #ffe5bf;
}

.text-danger {
  border-color: #ffc5bf;
  background: #ffe6e2;
  color: #ff735e;
}

.text-success {
  border-color: #c6ede4;
  background: #e7f7f4;
  color: #12b38f;
}
